/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/uploads

/.fleet
/.idea
/.vscode
/public/uploads
/public/sitemap_course.xml
/public/sitemap_post.xml
/public/sitemap_page.xml
/public/sitemap_service.xml
/public/sitemap.xml
/sitemap_course.xml
/sitemap_post.xml
/sitemap_page.xml
/sitemap_service.xml
/sitemap.xml
