// Variables
$secondary-color: #f5f5f5;
$footer-color: #00AEEF;
$primary-text-color: #302727;
$secondary-text-color: #988888;
// $secondary-text-color: #817A7A;
$tertiary-text-color: #FFFFFF;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font declarations
@font-face {
  font-family: "Acumin Pro";
  src: url("../font/AcuminProRegular.otf");
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../font/AcuminProBold.otf");
  font-weight: $font-weight-bold;
}

// Import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Base styles
body {
  padding: 0;
  margin: 0;
  font-family: "Acumin Pro";
  color: $primary-text-color;
  overflow-x: hidden;
}

// Sections
section {
  padding-inline: 135px;
  margin-bottom: 80px;
}

a {
  text-decoration: none;
}

// Typography
h1, h2, h3, h4 {
  font-weight: $font-weight-bold;
  margin: 0;
}

h1 {
    font-weight: $font-weight-bold;
    font-size: 36px;
    line-height: 46.8px;
    margin-bottom: 32px;
  }
  
p {
    font-size: 16px;
    font-weight: $font-weight-regular;
    line-height: 20.8px;
    text-align: justify;
    margin: 0;
}

h2 {
  font-size: 36px;
  line-height: 46.8px;
  margin-bottom: 32px;
}

h3 {
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 16px;
  color: $primary-text-color;
}

p {
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 20.8px;
  text-align: justify;
  margin: 0;
}

// Header
header {
    padding-inline: 135px;
  
    > .container > .row:first-child > div {
      padding: 32px 0 50.91px;
  
      ul {
        gap: 32px;
        list-style: none;
        margin: 0;
        font-size: 14px;
        font-weight: $font-weight-regular;
  
        li {
          color: $primary-text-color;
        }
      }
    }
}

// Footer Styling
footer { 
  height: 192px;
  background-color: $footer-color;

  p {
    font-weight: 500;
    font-size: 24px;
    line-height: 35.28px;
    color: $tertiary-text-color;
    text-wrap: nowrap;
  }
}

// Mobile Layout
@media all and (min-width: 320px) and (max-width: 1024px) {
    section, header {
        padding-inline: 20px;
    }

    section {
        margin-bottom: 50px;
    }

    footer {
        .row {
          gap: 20px;
        }
    
        p {
          font-size: 20px;
        }
      }
}

@media all and (min-width: px) and (max-width: 900px) {
    section, header {
        padding-inline: 20px;
        margin-bottom: 50px;
    }

    footer {
        .row {
          gap: 20px;
        }
    
        p {
          font-size: 20px;
        }
      }
}
